<div class="about-me-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box box-wide" style="text-align:center">
    <mat-card-title style="text-align: center;">About me</mat-card-title>    
    <mat-card-content >
      <img mat-card-xl-image src="../../../assets/images/selfie.jpeg" SameSite="Strict" alt="profile picture" class="rounded-circle" style=" margin-top: 20px; margin-bottom:50px">
      <p>My name is Agustin and I am a fullstack developer based in Buenos Aires, Argentina. This website has been designed to put my Js/Angular knowledge into practice. The theme is videogames.</p>
      <p>
        The custom game I made is a simple 2d platformer game in which you are always running forward and you must <strong>jump</strong> over the monsters pressing <strong>space bar</strong>. The score is calculated solely based off the time up until you die.
      </p>
    </mat-card-content>
  </mat-card>
</div>
